<div class="row">
  <div class="col-xs-12">
    <h1> {{message}} </h1>
    <p>Here is going the documentation</p>
    <p>MW is under construction</p>
    <p>This uses AngularJS (frontend FWK) + ExpressJS (NodeJS FWK) + Mongoose (MongoDB ORM) to handle facebook events</p>
    <a href="http://mean.io/#!/">Reference</a>
  </div>
</div>